.contact-page-container {
    display: block;
}

.ContactPageContent {
    width: 100%;
    height: 40vh;
    /* background-image: url(../../Components/images/contactBackGround.jpg); */
    background-color: black;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-footer {
    position: absolute;
    top: 429%;
    right: 50%;
    
}

.contactInfo {
    text-align: left;
    width: 33%;
    position: relative;
    left: 5%;
    top: 15%;
    color: white;
}

h1 {
    margin-bottom: 10%;
}

a {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.scrollButtonContact {
    background-color: white;
}

.contactRights {
    color: white;
    width: 34%;
    position: relative;
    top: 65%;
    font-size: xx-small;
}

.contactRights-two {
    color: white;
    width: 34%;
    position: relative;
    top: 83%;
    font-size: xx-small;
}

.contactLogo {
    background-color: black;
    width: 33%;
    position: relative;
    top: 15%;
    left: 12%;
}

.logo-contact {
position: relative;
font-weight: 700;
color: rgb(143, 0, 0);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.6s;
right: 23%;
}

.contactLogo img {
    width: auto;
    height: 75%;
}

@media only screen and (max-width: 420px) {
    .ContactPageContent {
        overflow: hidden;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    .contactInfo {
        width: 65%;
        margin-left: 10%;
        top: 15%;
    }

    .contactInfo h1 {
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 18%;
    }

    .contactRights {
        left: 20%;
        top: 60%;
        width: 60%;
    }

    .contactLogo {
        top: 17%;
        left: 30%;
    }

    .contactLogo img {
        width: 175%;
        height: auto;
      }
    
      .contact-footer {
        top: 548%;
        right: 45%;
      }
}

@media only screen and (min-width: 421px) and (max-width: 650px) {

}

@media only screen and (min-width: 651px) and (max-width: 820px) {

}

@media only screen and (min-width: 821px) and (max-width: 1010px) {

}

@media only screen and (min-width: 1010px) and (max-width: 1250px) {
    .nav-menu.active {
        left: 80%;
        width: 20%;
    }

}

@media only screen and (min-width: 1251px) {
    .nav-menu.active {
        left: 75%;
        width: 25%;
    }

}