.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 13vh;
    color: white;
}

.projectName {
    cursor: pointer;
}

.scrollButton {

}

.viewButton {
    cursor: pointer;
}

.projectName:hover, .viewButton:hover {
    color: chocolate;
    transition: 500ms;
}