.slider {
    position: relative;
    width: 40%;
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    width: 85%;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    right: -10%;
    font-size: 3rem;
    color: rgba(0, 0, 0);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}

.right-arrow:hover {
    color: rgb(173, 173, 173);

}

.left-arrow {
    position: absolute;
    left: -10%;
    font-size: 3rem;
    color: rgba(0, 0, 0);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}

.left-arrow:hover {
    color: rgb(173, 173, 173);

}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.slideBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textSlide {
    width: max-content;
    color: black;
    text-align: center;
    position: absolute;
    right: 133%;
    top: 10%;
    font-size: 1.5rem;
}



@media only screen and (max-width: 420px) {
    .projectImage {
        width: 350px;
        height: auto;
    }

    .left-arrow {
        position: absolute;
        left: -1%;
        font-size: 2rem;
        color: rgba(0, 0, 0);
        z-index: 10;
        width: 75px;
        top: 37%;
    }



    .right-arrow {
        position: absolute;
        right: -1%;
        font-size: 2rem;
        color: rgba(0, 0, 0);
        z-index: 10;
        width: 75px;
        top: 37%;
    }

    .slide.active {
        position: relative;
        bottom: 10%;
    }

    .textSlide {
        background: rgba(2, 2, 2, 0.8);
        bottom: -40%;
        border-radius: 10px;
        transition-duration: 1s;
    }
    
}