* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monoton', cursive;
}

.App {
  text-align: center;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  background-image: url(./Components/images/backgroundTest2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0);
}

.App-header {
  color: white;
  position: fixed;
  width: 100%;
}

.Content {
  padding-top: 6%;
}

