.HomePageContent {
    display: block;
    align-items: center;
    justify-content: center;
}

.home {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-image: url(../../Components/images/backgroundTest2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

.projects {
    position: relative;
    z-index: 1;
}

.about {
    position: relative;
    z-index: 1;
}

.press {
    position: relative;
    z-index: 1;
}

.contact {
    position: relative;
    z-index: 1;
}



@media only screen and (max-width: 420px) {
    .home {
        background-size: 150%;
    }
    
}

@media only screen and (min-width: 421px) and (max-width: 650px) {

}

@media only screen and (min-width: 651px) and (max-width: 820px) {

}

@media only screen and (min-width: 821px) and (max-width: 1010px) {

}

@media only screen and (min-width: 1010px) and (max-width: 1250px) {
    .nav-menu.active {
        left: 80%;
        width: 20%;
    }

}

@media only screen and (min-width: 1251px) {
    .nav-menu.active {
        left: 75%;
        width: 25%;
    }

}