.press-page-container {
    display: block;
}

.PressPageContent {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url(../../Components/images/pressBackGround.jpg);
    background-size: 100%;

    z-index: -1;
}

.press-footer {
    position: absolute;
    top: 405%;
    z-index: 10;
    right: 50%;
}

@media only screen and (max-width: 420px) {
    .PressPageContent {
        background-size: 150%;
        background-position-x: center;
    }
    
}

@media only screen and (min-width: 421px) and (max-width: 650px) {

}

@media only screen and (min-width: 651px) and (max-width: 820px) {

}

@media only screen and (min-width: 821px) and (max-width: 1010px) {

}

@media only screen and (min-width: 1010px) and (max-width: 1250px) {
    .nav-menu.active {
        left: 80%;
        width: 20%;
    }

}

@media only screen and (min-width: 1251px) {
    .nav-menu.active {
        left: 75%;
        width: 25%;
    }

}